<!DOCTYPE html>
<html>
<head>
    <title>BattleShips</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/play.css'/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="/javascript/play/play.js"></script>
    <script src="/javascript/play/ship.js"></script>
    <script src="/javascript/play/coord.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="/playSocket/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <% include header.ejs %>
        <div class="row">
            <div>
            <table class="table table-bordered board">
                <% for (var i = 0; i < board.height; i++){%>
                <tr>
                    <% for (var j = 0; j < board.width; j++){%>
                    <td
                            style="width: <%=90/board.width%>vmin; height: <%=90/board.width%>vmin"
                            class="<%=getClassAt(j,i)%>"
                            data-x="<%=j%>"
                            data-y="<%=i%>">&nbsp;</td>
                    <%}%>
                </tr>
                <%}%>
            </table>
            </div>
            <%if (typeof team === 'undefined') {%>
            <div class="row">
                <table class="table table-bordered table-hover ship-list">
                    <thead>
                        <th>Class</th>
                        <th>Size</th>
                    </thead>
                    <tbody>
                    <%for (var i = 0; i < board.availableShips.length; i++) {%>
                        <%for (var j = 0; j < board.availableShips[i].count; j++) {%>
                        <tr>
                            <td><%=board.availableShips[i].name%></td>
                            <td><%=board.availableShips[i].size%></td>
                        </tr>
                        <%}%>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <button id="btn-submit" disabled class="btn btn-success">Submit</button>
            </div>
            <% } %>
        </div>

    </div>
</body>
</html>
